@use "global" as *;

.information {
  padding-top: rem(80);
  padding-bottom: rem(84);
  width: 100%;
  background-color: $blue;
  @include mq("md") {
    padding-top: rem(104);
    padding-bottom: rem(76);
  }
}