@use "global" as *;

.blog-cards {
  display:grid;
	grid-template-columns: repeat(1, 1fr);
	row-gap: rem(40);
	width: 100%;
	@include mq("md") {
		grid-template-columns: repeat(3, 1fr);
		gap: rem(40) rem(40);
		max-width: $inner;
  }
}