@use "global" as *;

.section-title {
  text-align: center;
}

.section-title__main {
  font-size: rem(32);
  line-height: calc(40/32);
  color: $black;
  @include mq("md") {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-title__main--green {
  color: $green;
}

.section-title__large {
  font-size: rem(80);
  font-weight: $regular;
  line-height: 1;
  color: $black;
}

.section-title__largesub {
  font-size: rem(12);
  color: $green;
  @include mq("md") {
    line-height: calc(18/12);
  }
}

.section-title__large--green {
  color: $green;
}

.section-title__sab {
  font-size: rem(12);
  line-height: calc(18/12);
  color: $green;
  margin-top: rem(4);
  @include mq("md") {
    margin-top: rem(8);
  }
}

.section-title__main--white,
.section-title__sab--white {
  color: $white;
}


