@use "global" as *;

// campaignとvoiceの上部のタブ
.tab-items {
	display: flex;
	margin-inline: auto;
	justify-content:center;
	column-gap: rem(21);
	row-gap: rem(16);
	flex-wrap: wrap;
	@include mq("md") {
		justify-content:flex-start;
		column-gap: rem(32);
		row-gap: 0;
  }
}

.tab-items__item {
	font-size: rem(14);
	font-family: $base-font-family;
	line-height: calc(22 /14);
	color: $green;
	border: 1px solid $green;
	background-color: $white;
	max-width: rem(300);
	min-width: rem(100);
	width: fit-content;
	flex-basis: rem(158);
	padding-top: rem(6);
	padding-bottom: rem(6);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.tab-items__item.active {
	color: $white;
	background-color: $green;
}

.tab-items__item:hover {
	opacity: 0.8;
}